
<div class="page-wrapper with-navbar dm-v2">

  <nav class="navbar">
    <a class="navbar-brand" href="/">Desert Moon</a>
    <button onclick="toggleDarkMode()" class="btn btn-sm">Dark</button>
  </nav>

  {% if page.hero %}
    <section class="hero-section">
      {{ page.hero }}
    </section>
  {% endif %}

  <main class="container-fluid">
    {{ page.content }}
  </main>

  <footer class="text-center p-20">
    {{ page.footer }}
  </footer>

</div>
